{{!--<div class="backdrop js-backdrop">
  <div class="modal-img">
    <img src="{{largeImageURL}}" alt="{{tags}}" />
  <button type="button" class="material-icons clear-btn" data-action="close-modal">clear</button>

  </div>
</div>--}}


   <div class="lightbox js-lightbox">
      <div class="lightbox__overlay"></div>

      <div class="lightbox__content">
         <img class="lightbox__image" src="" alt="" />
  <button type="button" class="material-icons clear-btn" data-action="close-modal">clear</button>
      </div>
